* {
    background-color: #595959;
}

body {
    color: #474747;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    padding-top: 20px;
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
/* Style the navbar links */
#navbar a {
    float: right;
    margin-right: 20px;
    display: block;
    color: #b3daff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
#navbar a:hover {
    color: #00ffcc;
  }



/* Header Start */
header {
    padding-top: 40px;
    margin-bottom: 20px;
    background-color: #595959;
    overflow: hidden;
    width: 100%;
    opacity: 80%;
}

header a {
    text-decoration: none;
    color: #191f1c;
    float: right;
}

.nav {
    transition: top 0.3s;
}

.nav a {
    padding: 14px 16px;
    font-weight: bold;
}


.nav-items {
    float: right
}
/* Header End */



/* Reveal Stuff */
.reveal {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(150px);
    opacity: 0;
}


/* Hero Start */
.hero-text {
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    /* margin-left: 5%;
    margin-right: 5%; */
}

/* .hero {
    width: 80%;
    margin: 0;
} */

.hero h3 {
    color: #b3daff;
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: -20px;
}

.hero-title {
    display: inline-block;
    text-align: left;
    width: 80%;
}

.hero-greeting {
    display: inline-block;
    text-align: left;
    width: 80%;
}

.hero h2 {
    font-size: 1.5vw;
    font-weight: 400;
}

.hero h1 {
    font-size: 4.5vw;
    margin-top: -10px;
}

.hero h4 {
    font-size: 4vw;
    font-weight: 400;
    margin-top: -20px;
}

.hero-main {
    color: #cce6ff;
    display: inline-block;
    text-align: left;
    width: 80%;
    font-weight: 600px;
}

.hero-question {
    color: #c9d9e8;
    display: inline-block;
    text-align: left;
    width: 80%;
    font-weight: 600px;
}

.hero-img {
    border-radius: 10%;
    border: 2px solid;
    height: 350px;
    width: 250px;
    margin-left: 3vw;
    margin-right: 30px;
}

h2 {
    color: #d9d9d9;
}

p {
    color: #b3b3b3;
}

aside {
    flex: .5;
}

.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 2;
    margin-right: 80px;
    margin-top: 20px;
}

.right h2 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.right p {
    text-align: center;
}

.below-about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.below-about-me p {
    text-align: center;
    font-size: 25;
    font-style: italic;
}

.below-about-me .about-me-img {
    display: none;
}

.below-about-me:hover .about-me-img {
    display: block;
}

.frozen-lake {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid;
}

.waves {
    width: 250px;
    height: 350px;
    border-radius: 10%;
    border: 2px solid;
}

.fremont {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid;
}
/* End About Me Section */

/* Start Work Section */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#professional-work h2 {
    margin-left: 10px;
    padding-left: 40px;
}

.construction-img {
    width: 300px;
    height:350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.construction-img:hover {
    opacity: 0.8;
}

.construction-a {
    border: 4px solid rgb(2, 177, 247);
    width: 300px;
    padding: 0 auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.construction-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(235, 99, 253);
}

.construction-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    color: rgb(235, 99, 253);
}

.cherry-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.cherry-img:hover {
    opacity: 0.8;
}

.cherry-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.cherry-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253);

}

.cherry-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}

.computer-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.computer-img:hover {
    opacity: 0.8;
}

.computer-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.computer-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)

}

.computer-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}

.run-buddy-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.run-buddy-img:hover {
    opacity: 0.8;
}

.run-buddy-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.run-buddy-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253);
}

.run-buddy-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}

.phone-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.phone-img:hover {
    opacity: 0.8;
}


.phone-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.phone-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)

}

.phone-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}
/* End Work Section */

/* Contact Me Section */
footer {
    background:rgb(156, 156, 156);
    margin: -8px;
}

footer h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    background:rgb(0, 0, 0);
    margin-left: 40px;
    padding-left: 40px;
}

.contact {
    text-align: center;
}

.contact aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.github-img {
    height: 50px;
}

.linkedin-img {
    height: 50px;
}

