/* :root {

} */

body {
    color: #474747;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Header Start */
header {
    padding: 20px 35px;
    /* background-color: rgb(39, 240, 240); */
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: sticky;
    border: groove rgb(180, 180, 180);
    border-width: 15px;
    top: 0;
    background-image: url("/assets/images/clouds.gif");
    background-size: 1000px 100px;
    background-position: center; 
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: #191f1c;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 1.8vw;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header nav ul li a:hover {
    /* background: #1fdfec; */
    -webkit-tap-highlight-color: transparent;
    /* color: #091b24; */
    border-radius: 15px;
    text-shadow: none;
  }

.hero-title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    text-shadow: 0 0 10px rgba(38, 47, 48, 0.5);
    padding: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}
/* Header End */

/* Hero Start */
.hero {
    /* background-image: url("/assets/images/clouds.gif"); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-attachment: fixed;
    background-position: 80%; */
}

.hero-img {
    border-radius: 10%;
    border: 2px solid;
    height: 350px;
    width: 250px;
    transform: rotate(-5deg);
    margin-left: 3vw;
    margin-right: 30px;
}

aside {
    flex: .5;
}

.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 2;
    margin-right: 80px;
    margin-top: 20px;
}

.right h2 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.right p {
    text-align: center;
}

.below-about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.below-about-me p {
    text-align: center;
    font-size: 25;
    font-style: italic;
}

.below-about-me .about-me-img {
    display: none;
}

.below-about-me:hover .about-me-img {
    display: block;
}

.frozen-lake {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid;
}

.waves {
    width: 250px;
    height: 350px;
    border-radius: 10%;
    border: 2px solid;
}

.fremont {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid;
}
/* End About Me Section */

/* Start Work Section */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.construction-img {
    width: 300px;
    height:350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.construction-img:hover {
    opacity: 0.8;
}

.construction-a {
    border: 4px solid rgb(2, 177, 247);
    width: 300px;
    padding: 0 auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.construction-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(235, 99, 253);
}

.construction-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    color: rgb(235, 99, 253);
}

.cherry-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.cherry-img:hover {
    opacity: 0.8;
}

.cherry-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.cherry-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253);

}

.cherry-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}

.computer-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.computer-img:hover {
    opacity: 0.8;
}

.computer-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.computer-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)

}

.computer-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}

.run-buddy-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.run-buddy-img:hover {
    opacity: 0.8;
}

.run-buddy-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.run-buddy-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)

}

.run-buddy-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}

.phone-img {
    width: 400px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: .5s ease;
}

.phone-img:hover {
    opacity: 0.8;
}


.phone-a {
    border: 4px solid rgb(2, 177, 247);
    padding: 0 auto;
    position: relative;
    margin: 25px;
    width: 400px;
}

.phone-a h3 {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)

}

.phone-a p {
    position: absolute;
    top: 38px;
    left: 17px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 400);
    color: rgb(235, 99, 253)
}

/* End Work Section */

/* Contact Me Section */
.github-img {
    height: 50px;
}

.linkedin-img {
    height: 50px;
}