/* :root {

} */

body {
    color: #474747;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Header Start */
header {
    padding: 20px 35px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    /* background-image: url("/assets/images/CherryBlossomForrest.jpg"); */
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header a {
    text-decoration: none;
    color: #191f1c;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header nav ul li a:hover {
    /* background: #1fdfec; */
    -webkit-tap-highlight-color: transparent;
    /* color: #091b24; */
    border-radius: 15px;
    text-shadow: none;
  }
/* Header End */

/* Hero Start */
.hero {
    /* background-image: url("/assets/images/CherryBlossomForrest.jpg"); */
    /* background-size: cover;
    background-position: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-attachment: fixed;
    background-position: 80%; */
}

.hero-title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    text-shadow: 0 0 10px rgba(38, 47, 48, 0.5);
    padding: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.hero-img {
    border-radius: 10%;
    border: 2px solid;
    height: 350px;
    width: 250px;
    transform: rotate(-5deg);
    margin-left: 4vw;
}

aside {
    flex: 1;
}

.right {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-right: 50px;
    margin-top: 20px;
}

.right h2 {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
}

.right p {
    text-align: center;
}

.below-about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.below-about-me p {
    text-align: center;
    font-size: 25;
    font-style: italic;
}

.below-about-me .about-me-img {
    display: none;
}

.below-about-me:hover .about-me-img {
    display: block;
}

.frozen-lake {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid;
}

.waves {
    width: 250px;
    height: 350px;
    border-radius: 10%;
    border: 2px solid;
}

.fremont {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    border: 2px solid;
}
